body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  margin: 0;
  padding: .8em 0em;
  text-align: center;
  background-color: #33a;
  color: white;
  font-size: 4.8vw;
  line-height: 1.8em;
}
#inputc {
  text-align: center;
}
input[type=text] {
  width: 80vw;
  font-size: 16px;
  padding: .5em .3em;
  margin: .8em;
}
#filtered {
  margin: 0 0 .8em 1.6em;
  font-size: 80%;
}
#main {
  margin: 0 .8em;
}
h2 {
  font-size: 90%;
  margin: 0;
  padding: 0;
}
img {
  margin-right: 1em;
  float: left;
}
a {
  color: #0077cc; /* 落ち着いた青 */
  text-decoration: none; /* 下線なし */
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #005599; /* ホバー時に濃いめ */
  text-decoration: underline; /* 下線追加でアクセント */
}
/*
a {
  color: gray !important;
}
#main a {
  color: black !important;
  text-decoration: none !important;
}
*/
.credit {
  margin: .8em;
}
.advisor {
  margin: .5em;
  padding: .5em;
  border: 1px solid gray;
  word-break: break-all;
}
.advisor .name {
  background-color: #cce;
  font-weight: bold;
  margin-top: .5em;
  padding: .5em;
}
.advisor h2 {
  font-size: 150%;
  cursor: pointer;
}
.advisor > div {
  display: none;
}
.detail {
  clear: both;
  display: grid;
  margin-top: .5em;
  grid-template-columns: 20em 1fr;
}
.detail .body {
  x-white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.view {
  white-space: pre-wrap !important;
  overflow: visible !important;
  margin-bottom: .5em;
}